<div class="menu__wrapper">
  <button class="button">Главная</button>
  <button class="button">Регистрация</button>
  <button class="button">FAQ</button>
  <button class="button">Добавить</button>
  <button class="button">Статистика</button>
  <button class="button">Форум</button>
</div>



<!--<table style="width:100%; border-collapse: collapse;">-->
<!--  <tr style="height: 30px;">-->
<!--    <td  style="padding:0px"><img alt="" src="../pic/but_l.gif" style="display:block"></td>-->
<!--    <td class="menu">-->

<!--    </td>-->
<!--    <td style="padding:0px"><img alt="" src="../pic/but_r.gif" style="display:block"></td>-->

<!--    <td style="padding:0px"><img alt="" src="../pic/but_l.gif" style="display:block"></td>-->
<!--    <td class="menu">-->
<!--      <?php-->
<!--        if(isset($user) && $user!="0") echo '<a href="../cabinet.php">Кабинет</a>';-->
<!--      else echo '<a href="../reg.php">Регистрация</a>';-->
<!--      ?>-->
<!--    </td>-->
<!--    <td style="padding:0px"><img alt="" src="../pic/but_r.gif" style="display:block"></td>-->

<!--    <td style="padding:0px"><img alt="" src="../pic/but_l.gif" style="display:block"></td>-->
<!--    <td class="menu">-->
<!--      <a href="../help.php">FAQ</a><br>-->
<!--    </td>-->
<!--    <td style="padding:0px"><img alt="" src="../pic/but_r.gif" style="display:block"></td>-->

<!--    <td style="padding:0px"><img alt="" src="../pic/but_l.gif" style="display:block"></td>-->
<!--    <td class="menu">-->
<!--      <a href="../addcross.php">Добавить</a><br>-->
<!--    </td>-->
<!--    <td style="padding:0px"><img alt="" src="../pic/but_r.gif" style="display:block"></td>-->

<!--    <td style="padding:0px"><img alt="" src="../pic/but_l.gif" style="display:block"></td>-->
<!--    <td class="menu">-->
<!--      <a href="../records.php">Статистика</a><br>-->
<!--    </td>-->
<!--    <td style="padding:0px"><img alt="" src="../pic/but_r.gif" style="display:block"></td>-->

<!--    <td style="padding:0px"><img alt="" src="../pic/but_l.gif" style="display:block"></td>-->
<!--    <td class="menu">-->
<!--      <a href="../forum">Форум</a><br>-->
<!--    </td>-->
<!--    <td style="padding:0px"><img alt="" src="../pic/but_r.gif" style="display:block"></td>-->
<!--  </tr>-->
<!--</table>-->
